.root {
  @apply overflow-hidden;
}
.bg {
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 78%,
    rgba(252, 176, 69, 1) 100%
  );
}
.row {
  @apply inline-block tracking-wide text-white text-sm font-bold truncate;
  overflow: hidden;
}

.row span {
  display: inline-block;
  animation: frames 5s infinite;
  transition: opacity 0.5s;
}

.row span:before {
  content: attr(title);
  animation: switch 10s steps(1) infinite;
}

@keyframes frames {
  0% {
    transform: translateY(150%) rotate(-5deg);
  }
  20%,
  80% {
    transform: translateY(0) rotate(0);
  }
  100% {
    transform: translateY(-150%) rotate(5deg);
  }
}

@keyframes switch {
  50%,
  100% {
    content: attr(data-alt);
  }
}
